# selenium 3.4.0 has WebDriverException, therefore fix to 3.3.1
# https://github.com/SeleniumHQ/selenium/issues/4017#issuecomment-302030078
selenium==3.3.1
Appium-Python-Client
pytest
pytest-ordering
packaging
